<!doctype html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
<title>
  {% if page.title %}
    {{ page.title }} | {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
    <link href='//fonts.googleapis.com/css?family=Rubik+Doodle+Shadow' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Cal Sans' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://yumayx.github.io/works/assets/css/normalize.css">
    <link rel="stylesheet" href="https://yumayx.github.io/works/assets/css/skeleton.css">
    <link rel="stylesheet" href="https://yumayx.github.io/works/assets/css/extends.css">
    <!-- <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/extends.css"> -->
  </head>
  <body>

    <nav class="navbar">
      <div class="container">
        <h2 class="stitle"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>
      </div>
    </nav>

    <div class="container">
      <div class="main">
      {{ content }}
      </div>
    </div>

    <hr>
    <footer>
      <div class="container">
        <h1><strong>Yuma</strong></h1>
        <div class="credit">
          <p><strong>✎{{ site.title }} by <a href="https://github.com/YumaYX"><span class="marker">YumaYX</span></a></strong></p>
        </div>
      </div>
    </footer>

  </body>
</html>
